{
    "semi": true,
    "singleQuote": true,
    "tabWidth": 4,
    "trailingComma": "es5",
    "printWidth": 100,
    "arrowParens": "always",
    "bracketSpacing": true,
    "bracketSameLine": false,
    "htmlWhitespaceSensitivity": "css",
    "proseWrap": "preserve",
    "quoteProps": "as-needed",
    "endOfLine": "lf",
    "plugins": ["prettier-plugin-tailwindcss"]
}
